* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .principal {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
  
  #felicidades {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5vw;
  
    /*Hago que se superponga*/
    display: flex;
    position: absolute;
    width: auto;
    height: auto;
    text-align: center;
  
    /*Que la letra se vea bien*/
    color: white;
    font-size: 2em;
    font-style: italic;
    text-shadow: 0px 2px black;
    visibility: hidden;
  }
  
  #nombre {
    animation-name: dos;
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-direction: alternate;
}

  @media(orientation:landscape) {
    .principal {
      width: 40vw;
    }
  
  
  }